.currency-converter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .top {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .input-section {
    margin: 8px;
  }
  input, select {
    height: 50px;
    font-size: 20px;
  }
  input {
    font-weight: bold;
    text-align: right;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 20px;
  }
  select {
    margin-left: 8px;
  }
}

.bottom {
  margin: 0 auto;
  display: block;
  margin-top: 5rem;
  max-width: 400px;
  background-color: rgba(255,255,255,0.7);
  padding: 2rem;
  border-radius: 40px;
  box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.12);
}
.bread-outline {
  position: absolute;
  z-index: -1;
  fill: $salmon-light;
  top: -147px;
}
