.currency-converter {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .input-section {
    margin: 8px;
  }
  input, select {
    height: 50px;
    font-size: 20px;
  }
  input {
    font-weight: bold;
    text-align: right;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 20px;
  }
  select {
    margin-left: 8px;
  }
}

.bottom {
  display: block;
}
.bread-outline {
  position: absolute;
  z-index: -1;
  fill: $salmon-light;
  top: -147px;
}
